body{
  background-image: url(2001-Discovery.jpg);
  text-align: center;
  height:100%;

}

#container{
  margin:2.5% auto;
  background-color: azure;
  width:960px;
  height: 95%;
  box-sizing: border-box;
}